[submodule "annotations"]
	path = annotations
	url = https://github.com/CaptainCook4D/annotations
[submodule "annotations"]
	path = actionformer
	url = https://github.com/rohithpeddi/actionformer_release.git
